[line_bot]
channel_secret = '********************************'
channel_access_token = '****************************************************************************************************************************************************************************'

[twitter_bot]
consumer_key = '*************************'
consumer_secret = '**************************************************'
access_token = '******************-*******************************'
access_token_secret = '*********************************************'
